.gridContainer{
    margin-top: 15px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.gridsquare {
    flex:auto;
    background-color: rgb(100% 100% 100%);
}

.gridsquare:hover {
    background-color: #ccc;

}